body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: #070618;
    overflow: hidden;

    color: #f1deca;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: none;
}

.floater {
    border-radius: 100%;

    z-index: -1;
    position: absolute;

    background: #f5b35e;
}

h1 {
    font-size: 400%;
}
